
// Modal
#contact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactMe', aria-hidden='true')
    .contact-modal
        .modal-dialog
            .modal-content
                .modal-body
                    .contact-modal__content
                        .contact-modal__content--img.hidden-sm.hidden-xs
                            img(src="public/images/ben_portrate.jpg")
                        ul.contact-modal__content--list
                            li.contact-modal__content--list--mainTitle
                                h3 Drop me a line
                            li.contact-modal__content--list--item
                                div.contact-modal__content--list--item--title
                                    span.glyphicon.glyphicon-envelope
                                div.contact-modal__content--list--item--desc
                                    a(href="mailto:ben.westrate@gmail.com") ben.westrate@gmail.com
                            li.contact-modal__content--list--item
                                div.contact-modal__content--list--item--title
                                    i.fa.fa-twitter
                                a.contact-modal__content--list--item--desc(href="https://twitter.com/benwestrate",targe="_blank") @BenWestrate
                            li.contact-modal__content--list--item
                                div.contact-modal__content--list--item--title
                                    i.fa.fa-github
                                a.contact-modal__content--list--item--desc(href="http://github.com/benwestrate") benwestrate
                    button.close.contact-modal--close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
