nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/")
                img(src="public/images/logo_2015.png")
        ul.nav.navbar-nav
            li
                a( href="#" ) About Me 
                    span.sr-only (current)
            li
                a(href="/projects") Projects
            li
                a(data-toggle='modal', data-target='#myModal') Contact
