script(src="public/components/jquery/dist/jquery.min.js", type="text/javascript")
script(src="public/components/bootstrap/dist/js/bootstrap.min.js", type="text/javascript")
script(src="https://use.fontawesome.com/8f060b0708.js", type="text/javascript")
script(src="public/javascripts/main.js", type="text/javascript")
