.index{
    .full-width{
        overflow: hidden;
        .container{
            .summary{
                position: absolute;
            }
        }
    }
}
.small{
    color: @Swatch_6;
    span{
        margin: 0;
        font-size:1.3em;
        &:before{
            margin: 0 5px;
            font-size: .7em;
        }
    }
}

.main{
    font-size: 2.7em;
    strong{
        font-family: @font-family-serif;
    }
}

@media (max-width: @screen-md){
    .main{
        text-align: center;
    }
}

.full-width footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    
    h4 {
        border-bottom: 2px solid @Swatch_3;
        color: @Swatch_8;
        padding: 5px;
    }
    
    figure{
        width: 33.33%;
        margin: 0;
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        
        
        .img{
            max-width: 100%;
            margin: 0 auto;
            display: block;
            position: relative;
            background: #fff;
            
            

            z-index: 10;
            transition: transform 0.4s;
            
            img{
                text-align: center;
            }
        }
        
        &:hover .img{
            transform: translateY(-100px);
        }
        
        &.zebra{
            .img{
                background: #ffcc33;
            }
        }
        &.lumberjack{
            .img{
                background: @Swatch_1;
            }
        }
        &.mymove{
            .img{
                background: @Swatch_1;
            }
        }
        
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            background: @Swatch_8;
            color: @Swatch_6;
            text-align: left;
            
            height: 100px;
            width: 100%;
            top: auto;
            bottom: 0;
            
            h3 {
                margin: 0;
                padding: 0;
                color: #fff;
            }
            
           
            
            a {
                text-align: center;
                padding: 5px 10px;
                border-radius: 2px;
                display: inline-block;
                background: @Swatch_6;
                color: #fff;
                
                position: absolute;
                right: 20px;
                top: 30px;
            }
        }
    }
    
}

@media (max-width: @screen-md){
    .projects div.wrapper{
        margin-top : 210px;
    }
    .full-width{
        .clearfix();
    }
    .full-width footer{
        
        display: block;
        position: relative;
        
        figure{
            display: block;
            width: 100%;
        }
        
    }
    
}