extends layout

block content
    .full-width.homePageHeight
        .container(data-hook="summary")
            .col-md-12
                //.small
                    span Web
                    span.glyphicon.glyphicon-minus Mobile
                    span.glyphicon.glyphicon-minus Node.js
                .main
                    p I am a web fanatic who specializes in 
                        strong Front-End Development. 
                    p Harnessing 
                        strong technology 
                        span to solve business problems is one of my driving passions. 
        footer
            figure.mymove
                .img
                    img(src="public/images/projects/mymove/mymove.logo.png", alt="img01")
                figcaption
                    h3 My Move
                    span Adobe AEM Customazation
                    a( href="/projects#mymove" ) View
            figure.zebra
                .img
                    img(src="public/images/projects/zebra/zebra.logo.png", alt="img01")
                figcaption
                    h3 Zebra
                    span AEM Site Re-Skin and Customazation
                    a( href="public/projects#zebra" ) View
            figure.lumberjack
                .img
                    img(src="public/images/projects/lumberjack/lumberjack.logo.png", alt="img01")
                figcaption
                    h3 LumberJack
                    span A modern client side logging framework
                    a( href="public/projects#lumberjack" ) View
