extends includes/layout

block content
    .index
        .full-width.homePageHeight
            .container(data-hook="summary")
                .col-md-12
                    .main
                        p I am a technology fanatic who specializes in
                            strong Front-End Development.
                        p Harnessing
                            strong technology
                            span to solve business problems is one of my driving passions.
            footer.project-cards--wrapper
                .project-cards--title-bar
                .project-cards
                    figure.project-cards__card.project-cards__card--iron
                        .project-cards__card--img
                            strong Iron(Fe)
                        figcaption.project-cards__card--caption
                            h3.project-cards__card--caption--title Iron(Fe)
                            span.project-cards__card--caption--info-text Opinionated build scaffolding framework
                            a.project-cards__card--caption--link( href="/projects.html#zebra" ) View
                    figure.project-cards__card.project-cards__card--lumberjack
                        .project-cards__card--img
                            img(src="public/images/projects/lumberjack/lumberjack.logo.png", alt="img01")
                        figcaption.project-cards__card--caption
                            h3.project-cards__card--caption--title LumberJack
                            span.project-cards__card--caption--info-text A modern client side logging framework
                            a.project-cards__card--caption--link( href="/projects.html#lumberjack" ) View
