doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans|Raleway', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/stylesheets/style.css')
    
  body
    include includes/header
    block content
    include includes/contact
    include includes/footer
    include includes/scripts
