extends includes/layout

block content
    .projects
        .wrapper
            .full-width.iron-title.gray
                .container
                    .row.media
                        .col-md-6
                            h4 Iron(Fe)
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/iron" target="_blank") Iron(Fe)
                            p Iron(Fe) is an opinionated yet flexible Front End development framework.
                            p The goal is for Iron(FE) to be a foundation for projects. As a foundation, Iron(Fe) is just the beginning. Iron makes some foundational decisions, then the developer has the freedom to go in many directions. I want to give front end developers who work with AEM access to the same tools I have when working outside AEM.
                            p
                                a(href="https://github.com/Citytechinc/iron" target="_blank") Link Github Repo

            #lumberjack.full-width
                .container
                    .row.media
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/lumberjack" target="_blank") LumberJack
                            p LumberJack is a modern client side-logging framework. The problems addressed with LumberJack are:
                            ol
                                li Clear definition of where each log is coming from.
                                    ul
                                        li Title of the component where the log comes from
                                        li Consistant color of the log comming from the component
                                        li Full stack trace included in each log
                                li Full server side logging of configured log level.
                                    ul
                                        li Including the stack trace
                            p This is an open source project still in process.
                            p
                                a(href="https://github.com/Citytechinc/lumberjack" target="_blank") Link Github Repo
                        .col-md-6.lumberjack
                            img(src="/public/images/projects/lumberjack/lumberjack.man.png")
                
            .password-portected.full-width.gray(data-hook="password-container")
                .container
                    .row
                        .col-md-12
                            h3 Protected Content
                            p I have a more great projects I would love to share with you. Unfortunatly I am bound by contract to keep them private. Please contact me for the password.
                            form(data-hook="unlock-form")
                                .input-group
                                    input.form-control(type="password",placeholder="Enter Password To Unlock",data-hook="unlockPassword") 
                                    span.input-group-btn
                                        button.btn.btn-default(data-hook="unlockButton") Unlock!
                                span.errorMessage Oh no!! Unfortunatly I can't let you in! 
            .hidden-content(data-hook="hidden-content")
block scripts
    script(src="public/javascripts/projects.js", type="text/javascript")
