extends layout
    
block content 
    .wrapper
        #mymove.full-width.gray
            .container
                .row
                    .col-md-6
                        img(src="/images/projects/mymove/mymove.uma.devices.png")
                    .col-md-6
                        .projectDescription
                            h3 My Move
                            p My Move is a one stop shop for movers. It houses hundreds of articales and blog posts about moving. The site also has diffrent tools to help the mover estimate the cost of thier move. Some of these include a paint calculator and a moving cost calculator. 
                            p The real meat of the project was building out a searies of single page applications for thier exlusive deals. These apps allow the customer to select one or many deals and have them sent to their email. 
        .full-width
            .container
                .row.media
                    .col-md-4
                        h3 My Move Continued
                        h4 Voters Registration
                        p I also built the voter registration application. This application gathers pertinate information and talks with a few proprietary services to help the mover register to vote.   
                    .col-md-4
                        img.thumbnail(src="/images/projects/mymove/mymove.msvr.step1.png")
                    .col-md-4
                        img.thumbnail(src="/images/projects/mymove/mymove.msvr.step3.png")
        #zebra.full-width.gray
            .container
                .row
                    .col-md-6
                        .projectDescription
                            h3 Zebra
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum id diam venenatis accumsan vitae quis lorem. Suspendisse consectetur, diam in auctor mattis, ex tortor tristique dolor, at gravida neque sem nec ligula. Pellentesque rhoncus risus lectus, vel gravida mi rutrum nec.
                    .col-md-6
                        img(src="/images/projects/zebra/zebra.devices.png")
        #lumberjack.full-width
            .container
                .row.media
                    .col-md-6
                        h3 LumberJack
                        p LumberJack is a modern client side logging framwork. The problems that I was trying to solve with LumberJack are
                        ol
                            li Clear definition of where each log is comming from.
                                ul 
                                    li Title of the component where the log comes from 
                                    li Consistant color of the log comming from the component
                                    li Full stack trace included in each log.
                            li Full server side logging of configured log level
                                ul 
                                    li including the stack trace. 
                        p This is an open source project. Most of the work has been done but there are a few 
                    .col-md-6.lumberjack
                        img(src="/images/projects/lumberjack/lumberjack.man.png")
