extends includes/layout

block content
    .projects
        .wrapper
            .full-width.iron-title
                .container
                    .row.media
                        .col-md-6
                            h4 Iron(Fe)
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/iron" target="blank") Iron(Fe)
                            p Iron (Fe) is an opinionated yet flexible FrontEnd development framework.
                            p We want Iron to be a foundation for projects. Like all foundations Iron(Fe) is a place to start, but a foundation is just a beginning. There can be many directions you can go after you have a firm foundation. We want to give front end developers who work with AEM access to the same tools that we have when working outside AEM. Iron makes a few decisions for you.


            #lumberjack.full-width
                .container
                    .row.media
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/lumberjack" target="blank") LumberJack
                            p LumberJack is a modern client side logging framwork. The problems that I was trying to solve with LumberJack are
                            ol
                                li Clear definition of where each log is comming from.
                                    ul
                                        li Title of the component where the log comes from
                                        li Consistant color of the log comming from the component
                                        li Full stack trace included in each log.
                                li Full server side logging of configured log level
                                    ul
                                        li including the stack trace.
                            p This is an open source project. Most of the work has been done but there are a few
                        .col-md-6.lumberjack
                            img(src="/public/images/projects/lumberjack/lumberjack.man.png")
