extends includes/layout

block content
    .projects
        .wrapper
            .full-width.iron-title.gray
                .container
                    .row.media
                        .col-md-6
                            h4 Iron(Fe)
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/iron" target="blank") Iron(Fe)
                            p Iron (Fe) is an opinionated yet flexible FrontEnd development framework.
                            p We want Iron to be a foundation for projects. Like all foundations Iron(Fe) is a place to start, but a foundation is just a beginning. There can be many directions you can go after you have a firm foundation. We want to give front end developers who work with AEM access to the same tools that we have when working outside AEM. Iron makes a few decisions for you.


            #lumberjack.full-width
                .container
                    .row.media
                        .col-md-6
                            h3
                                a(href="https://github.com/Citytechinc/lumberjack" target="blank") LumberJack
                            p LumberJack is a modern client side logging framwork. The problems that I was trying to solve with LumberJack are
                            ol
                                li Clear definition of where each log is comming from.
                                    ul
                                        li Title of the component where the log comes from
                                        li Consistant color of the log comming from the component
                                        li Full stack trace included in each log.
                                li Full server side logging of configured log level
                                    ul
                                        li including the stack trace.
                            p This is an open source project. Most of the work has been done but there are a few
                        .col-md-6.lumberjack
                            img(src="/public/images/projects/lumberjack/lumberjack.man.png")
                
            .password-portected.full-width.gray(data-hook="password-container")
                .container
                    .row
                        .col-md-12
                            h3 Protected Content
                            p I have a more great projects I would love to share with you. Unfortunatly I am bound by contract to keep them private. Please contact me for the password.
                            form(data-hook="unlock-form")
                                .input-group
                                    input.form-control(type="password",placeholder="Enter Password To Unlock",data-hook="unlockPassword") 
                                    span.input-group-btn
                                        button.btn.btn-default(data-hook="unlockButton") Unlock!
                                span.errorMessage Oh no!! Unfortunatly I can't let you in! 
            .hidden-content(data-hook="hidden-content")
                include secret
block scripts
    script(src="public/javascripts/projects.js", type="text/javascript")
